<nav>
  <ul class="nav nav-pills pull-right">
      </li>
      {{#if user}}
      <li role="presentation"><a href="/">Dashboard</a></li>
      <li role="presentation"><a href="/users/logout">Logout</a>
      {{else}}
      <li role="presentation"><a href="/users/login">Login</a></li>
      <li role="presentation"><a href="/users/register">Register</a></li>
      {{/if}}
  </ul>
</nav>