<h2 class="page-header">Register</h2>
{{#if errors}}  
  <div class="alert alert-danger"><i class="icon-remove-sign icon-large"></i>
    <ul>
      {{#each errors}}
      <li>{{msg}}</li>
      {{/each}}  
    </ul><a href="#close" class="icon-remove"></a>
  </div>
{{/if}}

{{#if success_msg}}  
  <div class="alert alert-success"><i class="icon-remove-sign icon-large"></i>
      {{success_msg}} <a href="#close" class="icon-remove"></a>
  </div>
{{/if}}
<form method="post" action="/users/register">
   <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>